.react-responsive-modal-modal {
  background-color: #1e2429;
  min-width: 70vw;
  min-height: 90vh;
}

.react-responsive-modal-closeButton svg {
  fill: white;
}

.modal-body {
  padding: 2%;
  color: white;
}
.modal-body {
  padding: 2%;
  color: white;
}
.modal-body > .wrapper {
  display: flex;
  gap: 12px;
}

.modal-body > .wrapper .left {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-body > .wrapper .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.modal-body > .wrapper .right .item {
  display: flex;
  gap: 4px;
  align-items: center;
  background-color: #45505a;
  padding: 8px;
  border-radius: 4px;
}

.modal-body > .wrapper .right .item img {
  width: 25px;
}

.react-date-picker {
  background-color: #323940;
  color: white;
}

.react-date-picker__button svg {
  stroke: white;
}

.modal-body .date-wrapper {
  display: flex;
  gap: 6px;
  align-items: center;
}
.modal-body .state-wrapper {
  display: flex;
  gap: 6px;
  background-color: #323940;
  padding: 8px;
  color: white;
  border-radius: 8px;
}
.modal-body .state-wrapper .state {
  background-color: rgb(69, 187, 69);
  color: black;
  border-radius: 4px;
  padding: 2px;
}

.react-date-picker__wrapper {
  border: none;
}

.modal-body .form-check-input {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.modal-body .description {
  max-width: 100%;
}

.modal-body .description .header {
  color: white;
  margin-bottom: 15px;
}

.modal-body .description textarea {
  width: 100%;
  height: 200px;
  background-color: transparent;
  color: white;
  outline: none;
  border-radius: 6px;
}

.modal-body .comments .comment {
  box-shadow: var(
    --ds-shadow-raised,
    0px 1px 1px #091e4240,
    0px 0px 1px #091e424f
  );
  box-sizing: border-box;
  border: none;
  outline: none;
  color: var(--ds-text, #172b4d);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-display: swap;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
  padding: 8px 12px;
  border-radius: 3px;
  background-color: #2e3136;
  box-shadow: inset 0 0 0 1px #091e4224;
  width: 100%;
  margin-bottom: 0;
}

.modal-body .comments .wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-body form.add-comments .wrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 24px;
}

.modal-body .comments .add-comment {
  cursor: pointer;
  margin-bottom: 12px;
}
.modal-body .comments .add-comment:hover {
  opacity: 0.6;
}
.modal-body .comments .add-comment.input {
  cursor: auto;
  color: white;
}
.modal-body .comments .add-comment.input:hover {
  opacity: 1;
}

@media (max-width: 700px) {
  .modal-body > .wrapper {
    flex-direction: column;
  }
}
